#nav {
    margin-top: 20px;
}

#logo {
    margin-top: 20px;
    font-weight: 700;
    color: white;
}

#player {
    width: 640px;
    height: 360px;
}

#userNotes {
	width: 640px;
	height: 200px;
}
.selection {
	border: 1px solid white;
    height: 200px;
    width: 300px;
    margin-bottom: 10px;
}

#LOGIN {
	margin-top: 20px;
}

#searchBar {
	margin: auto;
}


#header1 {
	border-bottom: 3px solid white;
	background-color: black;
}

#header {
	border-bottom: 3px solid white;
	background-color: #008B8B;
}

.nav-link {
	color:white;
}

.staffVideo {
	height: 200px;
	width: 300px;
}

#videoHome {
	margin-top: 25px;
}

input {
	width: 250px;
}

.videoFrame {
	width: 640px;
	height: 360px;
}

p {
	padding-top: 10px;
}

#exampleWork {
	width: 415px;
	height: 360px;
}

#buttonGen {
	height: 45px;
	/*border-bottom: 2px solid black;*/
}

#footer {
	/*width: 1139px;*/
	position: fixed;
	bottom: 0;
	color: white;
	background: black;
}

#fix {
	padding-left: 0;
}

#fix2{
	/*position: absolute;
	top: 0;
	right: 0;*/
	padding-left: 60px;
	padding-right: 0;
}
.event-selection {
	margin-bottom: 10px;
	padding: 10px;
	width: 400px;
	color: white;
	background: #00FFFF;
}

.event-selection:hover {
	background: white;
	border: 2px solid black;
	color: black;
}