#nav {
    margin-top: 20px;
}

#logo {
    margin-top: 20px;
    font-weight: 700;
    color: white;
}

#player {
    width: 700px;
    height: 450px;
}

#userNotes {
	width: 700px;
	height: 200px;
}
.selection {
	border: 1px solid white;
    height: 200px;
    width: 300px;
    margin-bottom: 10px;
}
#LOGIN {
	margin-top: 20px;
}

#searchBar {
	float: right;
}

#signout-button {
	float: right;
}
#header {
	border-bottom: 3px solid white;
	background-color: #008B8B;
}

.nav-link {
	color:white;
}

#fix {
	padding-left: 0;
}

#fix2{
	padding-left: 60px;
	padding-right: 0;
}
.event-selection {
	margin-bottom: 10px;
	padding: 10px;
	width: 400px;
	color: white;
	background: #00FFFF;
}

.event-selection:hover {
	background: white;
	border: 2px solid black;
	color: black;
}